.landing-page {
    background-image: url("../../images/sample_landing_page.jpg");
    background-position: 50% 40%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 80rem;
    width: 100%;
}


.landing-page-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    vertical-align: auto;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 13rem;
    padding-top: 20rem;
    color:#353535;
    line-height: 13rem;

}