.contact-section-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
  
.contact-section-header {
    text-align: center;
    font-size: 6rem;
    font-weight: 100;
    letter-spacing: 0.1rem;
}

.contact-content {
    display: flex;
    justify-content: center;
    gap: 9rem;
}

.contact-input-section {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.contact-input-first-line {
    display: flex;
    gap: 4rem;
    justify-content: center;
    width: 55rem;
}

.contact-input-name,
.contact-input-email,
.contact-input-message {
    color: #353535;
    font-size: 1.5rem;
    gap: 0.5rem;
    text-align: left;
    width: 30rem;
    display: flex;
    flex-direction: column;
}
.contact-input-message {
    width: 100%;
}
.contact-input {
    padding: 0.75rem;
    border-width: 0.01rem;
    border-radius: 0.2rem;
    width: 100%;
    height: 3rem;
    outline: none;
}

.contact-message-input {
    height: 20rem;
}

.submit-contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #284B63;
    color: #ffff;
    border: none;
    font-size: 1.5rem;
    letter-spacing: 0.04rem;
    border-radius: 0.2rem;
    height: 5rem;
}

.successful-message {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.5rem;
    font-weight: lighter;
    margin-top: 1rem;
}

.error-message {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: lighter;
    font-size: 1.22rem;
    color: #bf0000;
    opacity: 0;
}

.show-error-message {
opacity: 1;
}