.biographies-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 3rem;
}

.single-biography {
  align-items: center;
  display: flex;
  gap: 3rem;
}

.single-biography-image {
  width: 45%;
}

@media (max-width: 575px) {
  .biographies-container {
    gap: 3rem;
  }

  .single-biography {
    flex-direction: column;
  }

  .single-biography-image {
    width: 100%;
  }

  .middle-biography {
    flex-flow: column-reverse;
  }
}
