/*
--- 01 COLORS
- White: #FFFFFF
- Jet (dark grey): #353535
- Ming (emerald blue): #3C6E71
- Gainsboro (light grey): #D9D9D9
- Indigo Dye: #284B63
*/

/*
--- 02 FONTS
- Header:
  font-family: 'Playfair Display', serif;
  font-style: italic;
- Body:
  font-family: 'Source Sans Pro', sans-serif;
*/
